
html {height:100%;}

/* ------------------------header -----------------------*/
#header {
    height:60px;
    width: 100%;
    overflow:hidden;
}

/* ------------------------body -------------------------- */
#body {
    width: 100%;
    overflow:hidden;
}

/* ------------------------footer-------------------------- */
#footer {
	height:60px;
    width: 100%;
    text-align: center;
    background: #515a6e;
    color:white;
    font-size:20px;
    padding: 20px 0 25px 0;   
    overflow:hidden;
}
