<div id="app_menu" style="float:left;">

<!-- <i-menu active-name="childId" @on-select="selectMenu">
   <Menu-Group :title="parent.name" v-for="parent,index in menu">
        <Menu-Item v-bind:name="index+1+ '--' + child.id" v-for="child in parent.children" v-bind:to="child.path">
            <Icon v-bind:type="child.icon" /></Icon>
            <span>{{ child.name }}</span>
        </Menu-Item>
   </Menu-Group>
   
</i-menu> -->

<i-menu :accordion="true" :active-name="childId" ref="side_menu" @on-select="selectMenu" :open-names="parentId" >
        <Submenu :name="parent.index" v-for="parent in menu" :key ="parent.id">
            <template slot="title">
                {{ parent.name }}
            </template>
            <Menu-item v-for="child in parent.children" v-bind:to="child.path" :name="parent.index + '--' + child.id" :key="child.id">
                <Icon v-bind:type="child.icon" /></Icon>
                <span>{{ child.name }}</span>
            </Menu-item>
        </Submenu>
</i-menu>

</div>
<script>
var leftVue = new Vue({
      el: '#app_menu',
      data: {
    	  menu:[],
          parentId: [],
          childId: ""
      },
      methods: {
    	  selectMenu:function (name) {
    		  var values = name.split("--");
              var parentId= values[0];
              var childId= values[1];
              var cookieValue = parentId + "--" + childId;
              var storage = window.sessionStorage;
              storage["childId"] = cookieValue;
              storage["parentId"] = parentId;
    	  }
      } ,
      beforeCreate: function(){
    	  var _this = this;
    	  axios({
    		  method:'get',
    		  url:'/htgl/authoritycontroller/getfunctions/api',
    		  responseType:'json'
    		}).then(function(response) {
    			var tempArr = response.data.data;
                for (var i = 0; i < tempArr.length; i++) {
                    tempArr[i]["index"] = tempArr[i]["index"] + "";
                }
                _this.menu = response.data.data;
                _this.$nextTick(function() {
                    _this.$refs.side_menu.updateOpened();
                    _this.$refs.side_menu.updateActiveName();
                })
    		});
      },
      created: function () {
      },
      mounted: function () {
          var storage = window.sessionStorage;
          var _this = this;
          this.childId = storage.childId;
          this.parentId = [];
          this.parentId.push(storage.parentId);
          this.$nextTick(function() {
              _this.$refs.side_menu.updateOpened();
              _this.$refs.side_menu.updateActiveName();
          })
          window.onload = function(){
              document.getElementById('app_menu').style.minHeight = (document.documentElement.offsetHeight - 120) + "px";
          }
          var locationStr = window.location.href;
          var cutStr = locationStr.substr(22);
          switch (cutStr) {
              case "/htgl/userinfocontroller/toselfinfo":      //个人信息
                  this.childId = "";
                  this.parentId = [];
                  break;
              case "/":                           //首页
                  this.childId = "";
                  this.parentId = [];
                  break;
          }

      }
});

</script>
