<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta content="text/html" charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=no"/>
	
	<title>清风舞明月</title>

	<link rel="stylesheet" href="/css/iview.css">
    <link rel="stylesheet" href="/css/htgl.css">
    <script src="https://t1.chei.com.cn/common/js/vue/2.5.6/vue.js"></script>
    <script src="/js/iview-3.0.0.js"></script>
    <script src="/js/axios.min.js"></script>
    <script src="/js/jquery-3.3.1.js"></script>
    <script src="/js/layui/layer.js"></script>
    
    <script src="/js/common.js"></script>
    
    <!-- 裁剪图片 -->
    <link rel="stylesheet" type="text/css" href="/css/cropper/cropper.css" />
	<script type="text/javascript" src="/js/cropper/cropper.js"></script>
	
    <!-- 轮播图片 -->
    <link rel="stylesheet" type="text/css" href="/css/swiper/swiper-3.4.2.min.css" />
	<script type="text/javascript" src="/js/swiper/swiper-3.4.2.min.js"></script>
	
	<!-- 统计图 -->
	<script type="text/javascript" src="/js/echarts/echarts.js"></script>

	<link rel="stylesheet" type="text/css" href="/css/my.css">

</head>

<body>
    <div id="header" th:insert="/htgl/common/header">
    </div>
    <div id="body">
    	<div id="app_menu" style="float:left;">
    		<i-menu active-name="childId" @on-select="selectMenu">
   				<Menu-Group :title="parent.name" v-for="parent,index in menu">
        			<Menu-Item v-bind:name="index+1+ '--' + child.id" v-for="child in parent.children" v-bind:to="child.path">
            			<Icon v-bind:type="child.icon" /></Icon>
            			<span>{{ child.name }}</span>
        			</Menu-Item>
   				</Menu-Group>
			</i-menu>
    	</div>
    	<div layout:fragment="content">
    	</div>
    </div>
    <div id="footer" th:insert="/htgl/common/footer">
    </div>
</body>

<script type="text/javascript" layout:fragment="script">
</script>
<script type="text/javascript" >
    $("#body").css('minHeight',$(window).height()-$("#header").height()-$("#footer").height());
    var COOKIE_NAME = "MenuCookie";
    var COOKIE_PATH = "/";
    new Vue({
          el: '#app_menu',
          data: {
        	  menu:[],
        	  parentId:null,
        	  childId:null
          },
          methods: {
        	  
        	  selectMenu:function (name) {
        		  console.log(name)
        		  var values = name.split("--");
        		  var parentId= values[0];
        		  var childId= values[1];
        		  var cookieValue = parentId + "--" + childId;
        		  document.cookie=COOKIE_NAME+ "=" +escape(cookieValue)
        	  }
          } ,
          beforeCreate: function(){
        	  axios({
        		  method:'get',
        		  url:'/htgl/authoritycontroller/getfunctions/api',
        		  responseType:'json'
        		}).then((response) => {
        			this.menu=response.data.data;
        		});
          },
          created: function () {
        	  //获取点击的菜单
        	  if (document.cookie.length>0){
        		  var c_start=document.cookie.indexOf(COOKIE_NAME + "=")
        		  if (c_start!=-1)
        		  { 
        		    c_start=c_start + COOKIE_NAME.length+1 
        		    c_end=document.cookie.indexOf(";",c_start)
        		    if (c_end==-1) c_end=document.cookie.length
        		    var cookieValue = unescape(document.cookie.substring(c_start,c_end))
        		    var values = cookieValue.split("--");
        		    console.log(cookieValue);
        		    this.parentId=values[0];
        		    this.childId=cookieValue;
        		  }else{
        		  }
        	  }else{
    		  } 
          } 
    });
</script>

</html>