<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta content="text/html" charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=no"/>
	
	<title>清风舞明月</title>

	
    <link rel="stylesheet" href="/css/htgl.css">
    <link rel="stylesheet" type="text/css" href="/css/my.css">
    
    <script src="/js/axios.min.js"></script>
    <script src="/js/jquery-3.3.1.js"></script>
    
    <script src="/js/common.js"></script>
    
    <!-- vue -->
    <link rel="stylesheet" href="/css/iview.css">
    <script src="/js/vue.js"></script>
    <script src="/js/iview-3.0.0.js"></script>
    
    <!-- 裁剪图片 -->
    <link rel="stylesheet" type="text/css" href="/css/cropper/cropper.css" />
	<script type="text/javascript" src="/js/cropper/cropper.js"></script>
	
    <!-- 轮播图片 -->
    <link rel="stylesheet" type="text/css" href="/css/swiper/swiper-3.4.2.min.css" />
	<script type="text/javascript" src="/js/swiper/swiper-3.4.2.min.js"></script>
	
	<!-- 统计图 -->
	<script type="text/javascript" src="/js/echarts/echarts.js"></script>

	<!-- 弹出层 layer-->
	<script src="/js/layui/layer.js"></script>
	
	<!-- 弹出层 colorbox-->
	<script src="/js/colorbox/jquery.colorbox-min.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/colorbox/colorbox.css">
	
</head>

<body>
    <div id="header" th:insert="/htgl/common/header">
    </div>
    <div id="body">
    	<div th:insert="/htgl/common/left">
    	</div>
    	<div layout:fragment="content">
    	</div>
    </div>
    <div id="footer" th:insert="/htgl/common/footer">
    </div>
</body>

<script type="text/javascript" layout:fragment="script">
</script>
<script type="text/javascript" >
	var htmStr = document.createElement("div");
	if (!!window.ActiveXObject || "ActiveXObject" in window) {
    	htmStr.innerHTML = '<div id="noticeTopDiv" style="width:100%; line-height:24px; padding:4px; border-bottom:1px solid #fbdbca; background:#fef7f3; font-size:12px;color:#C30;"><div style="width:1000px; margin:0 auto; text-align:center; font-size:14px;">提醒：该系统不支持IE浏览器，请使用其他浏览器进行操作。';
    	document.body.insertBefore(htmStr,document.body.firstChild);
	}
    $("#body").css('minHeight',$(window).height()-$("#header").height()-$("#footer").height());
</script>

</html>