<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta content="text/html" charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=no"/>
	
	<title>清风舞明月</title>

	<link rel="stylesheet" href="/css/iview.css">
    <link rel="stylesheet" href="/css/htgl.css">
    <script src="https://t1.chei.com.cn/common/js/vue/2.5.6/vue.js"></script>
    <script src="/js/iview-3.0.0.js"></script>
    <script src="/js/axios.min.js"></script>
    <script src="/js/jquery-3.3.1.js"></script>
    <script src="/js/layui/layer.js"></script>
    
    <script src="/js/common.js"></script>
    
    <!-- 裁剪图片 -->
    <link rel="stylesheet" type="text/css" href="/css/cropper/cropper.css" />
	<script type="text/javascript" src="/js/cropper/cropper.js"></script>
	
    <!-- 轮播图片 -->
    <link rel="stylesheet" type="text/css" href="/css/swiper/swiper-3.4.2.min.css" />
	<script type="text/javascript" src="/js/swiper/swiper-3.4.2.min.js"></script>
	
	<!-- 统计图 -->
	<script type="text/javascript" src="/js/echarts/echarts.js"></script>

	<link rel="stylesheet" type="text/css" href="/css/my.css">
	
</head>

<body>
    <div id="header" th:insert="/htgl/common/header">
    </div>
    <div id="body">
    	<div th:insert="/htgl/common/left">
    	</div>
    	<div layout:fragment="content">
    	</div>
    </div>
    <div id="footer" th:insert="/htgl/common/footer">
    </div>
</body>

<script type="text/javascript" layout:fragment="script">
</script>
<script type="text/javascript" >
    $("#body").css('minHeight',$(window).height()-$("#header").height()-$("#footer").height());
</script>

</html>